/* styles.css */

/* Ensure the html and body elements take up the full height */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Make the calculator div fill the available space */
#calculator {
  width: 100%;
  height: 100%;
}
